<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <h1>Cart</h1>
  <ul>
    <li>1</li>
    <li>2</li>
  </ul>

  <%- include('../includes/end.ejs') %>