<%- include('includes/head.ejs') %>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">主页</a></li>
                <li><a href="/login">登入</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>404, 找不到页面</h1>
    </main>
<%- include('includes/end.ejs') %>
