<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户仓库</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/showUser.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">主页</a></li>
                <li><a href="/login">登入</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>您好，Turboson</h1>
        <p>
            以下是您存入的个人物品：
        </p>
        <!-- <ul>
            <li>手机</li>
            <li>电脑</li>
        </ul> -->
        <p>暂无物品</p>
    </main>
</body>
</html>