<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/store.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">主页</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/" method="post">
            <input style="display: none;" type="text" id="user" name="user" value="<%= user %>">
            <label for="stuff">物品名</label>
            <input type="text" id="stuff" name="stuff">
            <button type="submit">存入</button>
            <button type="submit" formaction="/store-reset" method="post">用户登出</button>
        </form>
    </main>
<%- include('includes/end.ejs') %>
