<!DOCTYPE html>
<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/userInput.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">主页</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/store" method="post">
            <label for="name">用户名</label>
            <input type="text" id="name" name="name">
            <button type="submit">登入</button>
        </form>
    </main>
<%- include('includes/end.ejs') %>
